@media all {
    header nav .bulk-exports::before,
    header nav .bulk-exporters::before,
    header nav .bulk-shapers::before,
    .bulk-exports .subhead::before,
    .bulk-exporters .subhead::before,
    .bulk-shapers .subhead::before,
    .bulk-exports .no-resources:before,
    .bulk-exporters .no-resources:before,
    .bulk-shapers .no-resources:before {
        content:"";
    }

    .bulk-as-task,
    .bulk-label-sub {
        font-style: italic;
        opacity: .5;
        font-size: small;
    }
    /* Fix default css of tables in Omeka: space and no-break space. */
    .bulk-label-sub:before {
        content: '  ';
    }

    .bulk-exports.browse table td.process .tablesaw-cell-content {
        display: block;
    }
}
