@media screen {
    .browse .bulk-export h4 {
        display: inline-block;
    }
    .browse .bulk-export .formatters {
        display: inline-block;
        padding-left: 6px;
    }

    .browse .sidebar .bulk-export .formatters,
    .show .bulk-export .formatters {
        padding-left: 0;
    }
    .bulk-export .formatters li {
        list-style: none;
        display: inline-block;
    }
    .bulk-export .formatters li:not(:last-child):after {
        content: ' · ';
    }
}
